.container {
    display: grid;
    place-items: center;

    height: 100%;
    background: #f8f8f8;

    form {
        display: flex;
        align-items: center;

        position: relative;

        width: 800px;
        height: 400px;
        background: #fff;
        padding: 20px;
        border-radius: 15px;
        box-shadow: #2e2e2e1b 0 7px 10px;

        div:not(.warn) {
            display: flex;
            flex-direction: column;

            width: 55%;
        }

        h1 {
            font-size: 45px;
            font-family: Dancing Script;
            margin-bottom: 15px;
        }

        label {
            position: relative;

            img {
                position: absolute;
                top: 30px;
                left: -17px;

                width: 15px;
                height: 15px;
            }
        }

        input,
        label,
        button {
            font-size: 15px;
        }

        input {
            border: none;
            border-bottom: #00000080 1.5px solid;
            padding: 7px 35px;
            margin-bottom: 15px;
            font-size: 15px;
        }

        button {
            width: 200px;
            padding: 10px;
            background: #6dabe4;
            color: #fffffff6;
            border-radius: 7px;
            border: none;
            margin-top: 10px;

            &:hover {
                background: #4292dc;
            }
        }
    }

    img {
        width: 60%;
        height: 100%;
        border-radius: 100px;
        margin-left: 20px;
    }
}

.warn {
    position: absolute;
    top: 100%;
    left: 50%;

    translate: -50% -50%;

    background: #ffeda6;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: #2e2e2e1b 0 7px 10px;
}

.linkReg {
    color: #4292dc;
    font-size: 12px;

    transition: .2s ease-in-out;

    &:hover {
        color: #000;
    }
}