* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

#root,
body {
  height: 100svh;
}

button {
  cursor: pointer;
}