.presContainer {
    display: grid;
    grid-template-rows: 7vmin 93%;

    height: 100%;

    header {
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: baseline;
        align-content: center;

        padding: 10px 20px;

        h1 {
            font-family: Dancing Script;
            font-size: 40px;
            text-align: center;
            translate: 10%;
        }

        div {
            display: flex;
            align-items: center;
            gap: 10px;

            > div {
                position: relative;

                .popup {
                    display: flex;
                    flex-flow: column;

                    position: absolute;
                    right: 10px;
                    top: 35px;
                    z-index: 5;

                    box-shadow: #2e2e2e36 0 2px 10px;
                    background: #ffffff;
                    border-radius: 10px;
                    margin: 10px;
                    padding: 20px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -20px;
                        right: 50px;

                        width: 30px;
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        height: 20px;
                        background: #00000029;
                    }

                    input,
                    button {
                        font-size: 15px;
                    }

                    input {
                        border: none;
                        border-bottom: #00000080 1.5px solid;
                        padding: 10px;
                        width: 250px;
                    }

                    button {
                        width: 100%;
                        background: #6dabe4;
                        color: #fffffff6;
                        border-radius: 7px;
                        padding: 10px;
                        border: none;
                        margin-top: 10px;
            
                        &:hover {
                            background: #4292dc;
                        }
                    }
                }
            }

            .name {
                font-size: 15px;
                background: none;
                border: none;
                text-wrap: nowrap;
            }
            
            button:not(.name, .popup > button) {
                display: flex;
                align-items: center;

                aspect-ratio: 1;
                background: none;
                border: none;
                z-index: 1;

                img {
                    height: 25px;
                }
            }
        }
    }

    > div {
        display: grid;
        grid-template-columns: 20vw 80vw; 

        > div {
            background: #ffffff;
            border-radius: 5px;
            margin: 10px;
        }
    }
}

.asideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;

    overflow-y: scroll;
    overflow-x: hidden;
    
    &::-webkit-scrollbar {
        display: none;
    }

    > div {
        position: relative;

        width: 100%;
        border-radius: 15px;
        box-shadow: #2e2e2e36 0 2px 10px;
        padding: 20px 10px;
        text-align: center;

        transition: all .2s ease-out;
        user-select: none;
        
        > a {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            min-height: 30px;
            word-break: break-all;
            text-decoration: none;
            font-size: 17px;
            color: #000;
            -webkit-user-drag: none;
            
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    
        &:hover:not(.warn),
        a.active {
            box-shadow: #4292dc69 0 2px 10px;
            cursor: pointer;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -15px;
                translate: 0 20%;
                scale: 0;
    
                height: 70%;
                width: 5px;
                border-radius: 30px;
                background: #6dabe4;

                animation: appear .3s forwards;
            }
        }
    }

    button {
        font-size: 30px;
        padding: 10px;
        background: #6dabe4;
        color: #fffffff6;
        border: none;
        border-radius: 100%;
        aspect-ratio: 1;

        &:hover {
            background: #4292dc;
        }
    }
}

.editor {
    display: grid;
    grid-template-columns: 80% 20%;

    .textEditor {
        overflow-y: scroll;
        max-height: 87svh;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        background: #fdfdfd;
        box-shadow: #2e2e2e36 0 5px 10px;
        font-size: 20px;

        &::selection {
            background: #dae1ea;
        }
        & ::selection {
            background: #dae1ea;
        }

        &::-webkit-scrollbar {
            width: 7px;
            cursor: pointer;
        }
        
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 20px;
            background: #dae1ea;
            cursor: pointer;
        }
    }
}

.addElementsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    padding: 20px;

    button:not(.positionContainer > button:last-child, .fontSizeContainer > button):last-child {
        background: #e46d6d;

        &:hover {
            background: #dc4242;
        }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        width: 50px;
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 100%;
        aspect-ratio: 1;
        background: #6dabe4;

        &:nth-child(4) {
            img {
                width: 17px;
                height: 17px;
            }
        }

        &:hover {
            background: #4292dc;

            &::after {
                content: var(--text);
                position: absolute;
                top: 30%;
                left: 110%;
                scale: 0;
    
                color: var(--color);
    
                font-size: 15px;
                animation: appear .3s forwards;
            }
        }

        img {
            height: 20px;
            width: 20px;
            filter: brightness(0) invert(1);
        }
    }
}

.warn {
    background: #dae1ea;
}

.positionContainer {
    display: flex;
    flex-flow: column nowrap;

    button {
        height: 40px;

        &:nth-child(1) {
            border-radius: 15px 15px 0 0;
        }
        &:nth-child(2) {
            border-radius: 0;
        }
        &:nth-child(3) {
            border-radius: 0 0 15px 15px;
        }

        img {
            height: 15px;
            width: 15px;
            filter: brightness(0) invert(1);
        }
    }
}

.fontSizeContainer {
    div {
        input  {
            display: grid;
            place-items: center;
            text-align: center;
        
            border: none;
            background-color: #dae1ea;

            height: 50px;
            width: 50px;
            aspect-ratio: 1;
            border-radius: 15px 15px 0 0;
            padding: 10px;

            &::-webkit-color-swatch-wrapper {
                padding: 0;
            }
            
            &::-webkit-color-swatch {
                border: none;
                border-radius: 20px;
            }
        }
    }
    button {
        border-radius: 0;
        border-radius: 0 0 15px 15px;
    }
}

.textEditorContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    div:not(.fontSizeContainer) {
        display: flex;
        align-items: center; 
        gap: 5px;

        input:not(.fontSizeContainer > div > input) {
            display: grid;
            place-items: center;
            text-align: center;
        
            border: none;
            background-color: #dae1ea;

            height: 50px;
            width: 50px;
            aspect-ratio: 1;
            border-radius: 20px;
            padding: 10px;

            &::-webkit-color-swatch-wrapper {
                padding: 0;
            }
            
            &::-webkit-color-swatch {
                border: none;
                border-radius: 20px;
            }
        }

        label {
            color: #6dabe4;
            font-size: 15px;
            scale: 0;
        }

        &:has(input:hover) {
            label {
                animation: appear .3s forwards;
            }
        }
    }
}

@media (max-width: 1400px) {
    .addElementsContainer {
        button {
            width: 30px;
            height: 30px;
        }

        button {
            img {
                height: 12px;
                width: 12px;
            }
        }
    }

    .fontSizeContainer {
        div {
            input {
                width: 30px;
                height: 30px;
            }
        }
    }

    .textEditorContainer {
        div:not(.fontSizeContainer) {
            input:not(.fontSizeContainer > div > input) {
                width: 30px;
                height: 30px;
            }
        }
    }
}

@keyframes appear {
    to {
        scale: 1;
    }
}